{% extends 'base.html' %} 
{% load static %}

{% block title %}Expense Claim Tracking{% endblock %}

{% block content %} 

{% if user.is_authenticated %}
<div class="align-left-box">
  <img src="/static/logo.jpg" class="img-fluid" alt="" width="100%">
  <!-- Links inside the align-left box -->
  <ul class="nav flex-column">
    <li class="nav-item">
      <br></br>
      <p style="font-size:20px;">Hi, {{ user.username }}!</p>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'teams' %}">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'newclaim' %}">New Claim</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'entereddata' %}">Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </ul>
</div>
{% endif %}

{% if messages %} 
  {% for message in messages %} 
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endfor %} 
{% endif %} 

{% endblock %}
